# TTC Subway Ridership

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gpd
import os

c:\Users\yuqih\AppData\Local\Programs\Python\Python39\lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

### 1. Import and Combine Data

In [16]:
# Find all ttc subway ridership data file from the path
filenames = [file for file in os.listdir("TTC_ridership") if 'ttc-subway-ridership' in file]
filenames

['ttc-subway-ridership-2014.csv',
 'ttc-subway-ridership-2015.csv',
 'ttc-subway-ridership-2016.csv',
 'ttc-subway-ridership-2018.csv',
 'ttc-subway-ridership-2022.csv']

In [19]:
# Import the TTC subway station name list
ttc_stations = pd.read_csv("TTC_ridership\TTC_stations.csv")
ttc_stations

                           Station Name  Line
0                                 Finch     1
1                     North York Centre     1
2   Sheppard-Yonge (1 YONGE-UNIVERSITY)     1
3                            York Mills     1
4                              Lawrence     1
..                                  ...   ...
75                        Lawrence East     3
76                            Ellesmere     3
77                              Midland     3
78                   Scarborough Centre     3
79                              McCowan     3

[80 rows x 2 columns]

In [4]:
# Separate the TTC subway stations to 4 subway lines
line1 = ttc_stations[ttc_stations["Line"] == 1]
line2 = ttc_stations[ttc_stations["Line"] == 2]
line3 = ttc_stations[ttc_stations["Line"] == 3]
line4 = ttc_stations[ttc_stations["Line"] == 4]

In [10]:
# Start counting
count = 0

# Run through all files to put ridership and year data
for filename in filenames:
    # Read the yearly ridership data
    ridership_yearly_data = pd.read_csv(filename, header = None)
    # Get the year from the file name
    year = filename.split(".")[0][-4:]
    # Separate the name from the data
    name = [ridership_yearly_data[0][i] for i in range(0, len(ridership_yearly_data), 2)]
    # Separate the corresponding ridership count from the data
    ridership = [ridership_yearly_data[0][i] for i in range(1, len(ridership_yearly_data)+1, 2)]
    
    if count == 0:
        # Create a new ridership dataframe with data
        ttc_subway_ridership = pd.DataFrame({"Station Name": name, str(year): ridership})
    else:
        # Merge two dataframe by add a column for that year
        ttc_subway_ridership = ttc_subway_ridership.merge(pd.DataFrame({"Station Name": name, str(year): ridership}), how = "left", on = "Station Name")
    count = count + 1

ttc_subway_ridership.head()

,Station Name,2014,2015,2016,2018,2022
0,Bloor-Yonge (1 YONGE-UNIVERSITY),"216,190","216,190","204,630","204,630","155,186"
1,Bathurst,"35,510","36,460","29,320","26,900","26,234"
2,College,"47,940","47,790","47,600","44,370","42,883"
3,Bay,"31,050","30,860","27,090","32,690","24,260"
4,Davisville,"23,040","25,330","24,300","25,990","13,973"

In [20]:
# Merge TTC station line to each station
ttc_subway_ridership = ttc_subway_ridership.merge(ttc_stations, how = "left", on = "Station Name")
ttc_subway_ridership.head(40)

,Station Name,2014,2015,2016,2018,2022,Line_x,Line_y
0,Bloor-Yonge (1 YONGE-UNIVERSITY),"216,190","216,190","204,630","204,630","155,186",1,1
1,Bathurst,"35,510","36,460","29,320","26,900","26,234",2,2
2,College,"47,940","47,790","47,600","44,370","42,883",1,1
3,Bay,"31,050","30,860","27,090","32,690","24,260",2,2
4,Davisville,"23,040","25,330","24,300","25,990","13,973",1,1
5,Bloor-Yonge (2 BLOOR-DANFORTH),"193,030","183,240","186,860","196,460","131,995",2,2
6,Downsview,"39,900","37,670","40,640",NaN,NaN,1,1
7,Broadview,"34,880","33,460","29,800","32,670","25,057",2,2
8,Dundas,"75,780","81,330","77,200","73,560","72,637",1,1
9,Castle Frank,"7,070","8,350","8,520","9,760","12,470",2,2
10,Dupont,"16,490","16,140","14,770","8,500","22,327",1,1
11,Chester,"6,540","7,700","6,690","5,800","9,995",2,2
12,Eglinton,"77,530","72,750","75,050","68,520","59,802",1,1
13,Christie,"12,390","12,020","14,740","12,510","15,179",2,2
14,Eglinton West,"19,000","16,830","16,210","21,430","6,569",1,1
15,Coxwell,"16,980","15,260","15,620","15,480","19,148",2,2
16,Finch,"90,910","100,820","85,720","99,350","59,364",1,1
17,Donlands,"10,750","11,500","10,080","11,250","11,481",2,2
18,Glencairn,"6,520","5,720","6,040","6,940","16,118",1,1
19,Dufferin,"29,710","29,940","31,220","28,620","27,837",2,2
20,King,"61,360","55,810","60,930","64,730","40,664",1,1
21,Dundas West,"27,770","29,620","28,680","27,540","21,509",2,2
22,Lawrence,"24,590","24,560","22,340","22,340","27,847",1,1
23,Greenwood,"10,660","9,040","10,390","11,080","13,568",2,2
24,Lawrence West,"21,420","19,950","17,630","19,740","22,975",1,1
25,High Park,"9,750","10,390","10,510","12,080","11,802",2,2
26,Museum,"9,800","8,100","9,680","11,840","14,399",1,1
27,Islington,"42,630","37,410","40,250","41,270","21,331",2,2
28,North York Centre,"24,560","24,220","29,120","25,380","23,768",1,1
29,Jane,"20,090","19,820","19,860","20,110","15,349",2,2
30,Osgoode,"24,590","22,490","25,580","23,670","27,396",1,1
31,Keele,"17,550","15,240","14,670","16,990","17,108",2,2
32,Queen,"52,300","48,010","45,260","48,700","38,827",1,1
33,Kennedy (2 BLOOR-DANFORTH),"71,440","69,790","68,940","80,070","31,249",2,2
34,Queen's Park,"39,660","48,070","45,460","46,470","39,543",1,1
35,Kipling,"58,100","52,930","49,870","49,340","31,220",2,2
36,Rosedale,"6,260","5,980","6,010","7,770","4,787",1,1
37,Lansdowne,"17,850","19,250","17,590","19,000","19,541",2,2
38,St Andrew,"55,700","56,120","60,900","57,480","39,775",1,1
39,Main Street,"25,580","24,130","20,930","23,950","24,918",2,2

### 2. Find the busiest stations

In [ ]:
#